<app-base-modal

>

</app-base-modal>
<!--  @Input() testVal: boolean = false;
  @Output() testValChange : EventEmitter<boolean> = new EventEmitter<boolean>();
  @Input() description: string= '';
  @Input() firstParagraph: string = '';
  @Input() ulElements: string[] = [];
  @Input() olElements: string[] = [];
  @Input() secondParagraph: string = '';
  @Input() title: string = '';
  @Input() link: string = '';
  @Input() linkText: string = '';
  @Output() isActive = new EventEmitter<boolean>();
  -->
