.root {
  position: relative;
  text-align: center;
  border: 3px solid #219f25;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  background-color: #004348;
  display: flex;
  font-family: Calibri, serif;
  margin: 0.8rem 0;
  align-content: center;
  justify-content: center;
}

h1{
  font-weight: normal;
}

.root:hover {
  border: 3px solid #00ff24;
  /*transform: scale(1.2);*/
  cursor: pointer;
  z-index:100;
}

.index {
  float: left;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-25%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.text {
  overflow: hidden;
  margin-left: 4%;
  text-align: center;
}

img{
  margin-left: 40%;
}
