<div class="root" (click)="openProject()">
  <ng-container *ngIf="float === 'left'">
    <div class="image-left">
      <img [src]="project.imageSrc" alt="project image">
    </div>
  </ng-container>
  <div class="text">
    <h1>{{ project.title }}</h1>
  </div>
  <ng-container *ngIf="float === 'right'">
    <div class="image-right">
      <img [src]="project.imageSrc" alt="project image">
    </div>
  </ng-container>
</div>
<!--TEST VAL IS THE TWO WAY BOUND OF IS MODAL OPEN-->

<app-base-modal [(testVal)]="testVal"
                [title]="project.title"
                [description]="project.description"
                [link]="project.link"
                [linkText]="project.linkText">
</app-base-modal>
