<div class="root" [class.expanded]="isExpanded" (click)="openProject()">
  <div class="text-container" [style.height.vh]="project.viewHeight || 15" >
  <ng-container *ngIf="project.imageSrc !== 'assets/images/projects/'">
    <img class="image"
         [style.height.vh]="12.5"
         [src]="project.imageSrc"
         alt="project image"
         [style.filter]="'invert(1)'"
    >
  </ng-container>

    <div class="text"> {{ project.title }} </div>
    <p class="hidden">{{ project.description }}</p>
  </div>
</div>
<!-- testVal is a two-way bound variable to check for state being open -->

<app-base-modal [(testVal)]="showModal"
                [title]="project.title"
                [link]="project.link"
                [linkText]="project.linkText"
                (isActive)="changeActivity($event)"
                [firstParagraph]="project.firstParagraph"
                [secondParagraph]="project.secondParagraph"
                [thirdParagraph]="project.thirdParagraph"
                [ulElements]="project.ulElements"
                [videoSrc]="project.videoSrc"
                [olElements]="project.olElements"
>
</app-base-modal>
