.root {
  position: relative;
  width: 110%;
  text-align: center;
  border: 3px solid #219f25;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  background-color: #004348;
  display: flex;
}

.root:hover {
  border: 3px solid #00ff24;
  transform: scale(1.2);
  cursor: pointer;
}

.index {
  float: left;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-25%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.text {
  overflow: hidden;
  margin-left: 4%;
}

a {
  text-decoration: none;
  color: #008bfd;
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

a:hover {
  color: #007fd9;
  text-decoration: none;
  cursor: pointer;
}

img{
  margin-left: 40%;
}
