<div class="content">
  <div class="header">
    <h1 class="green-glasses-text">Welcome</h1>
    <p class="text green-glasses-text">to my Portfolio</p>
  </div>
  <div class="two-sides-container">
    <div class="left-side">

      <p class="">Hi, my name is <a href="https://www.linkedin.com/in/milan-kovacs-cs/" class="linkedIn" target="_blank">Milan Kovacs</a> studying Computer Science in Ireland.
        Living in Ireland since 2013. Been coding since 2017. Been enjoying </p>
<!--      <div class="line text">-&#45;&#45;&#45;&#45; Of -&#45;&#45;&#45;&#45;</div>-->
<!--      <p class="name text">Milan Kovacs</p>-->

<!--      <div class="work-in-progress">-->
<!--        <div>Please be patient!</div>-->
<!--        <div>It is a work In Progress!</div>-->
<!--      </div>-->
    </div>
    <div class="right-side">
      <p>Source Control</p>
    </div>
  </div>
</div>
