<div class="root">
  <div class="highlights green-glasses-text">
    Personal and university projects
  </div>
  <div class="columns">
    <div class="left-column">
      <ng-container *ngFor="let project of leftProjects; let index = index">
        <app-project [project]="project">
        </app-project>
      </ng-container>
    </div>
    <div class="right-column">
      <ng-container *ngFor="let project of rightProjects; let index = index">
        <app-project [project]="project">
        </app-project>
      </ng-container>
    </div>
  </div>

</div>
