.root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.root>app-project:nth-child(3n + 1) {
}
.root>app-project:nth-child(3n) {
}
.root>app-project{
  flex-grow: 1;
  width: 28%;
}
.odd{
  color: #87ff0a;
}

.even{
  color: orange;
}
